* text=auto eol=lf

/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/ecs.php export-ignore
/phpstan.neon.dist export-ignore
/phpstan-reduced.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
/rector-reduced.php export-ignore
/tests/ export-ignore
